{%extends "rolodex/base.html" %}
{%load staticfiles%}
{%block head%}


<link rel="stylesheet" type="text/css" href="{% static 'rolodex/css/home.css'%}">

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>

{%endblock%}

{%block content%}

<style type="text/css">
    .bolder{
        font-weight: bold;
    }
    h2{
        font-size: 40px;
        text-align: center;
    }
</style>

<div id="midrail">

<h1>Rolodex</h1>

<div class="outside freetext">
    <p>Rolodex is a directory of people and the organizations they belong to. It's also a space where you can model relationships.</p>
    <p></p>
</div>

<div id="bigSearch">
<input class="typeahead" type="text" placeholder="Search Rolodex"> 

</div>

<script type="text/javascript">
$(function(){
    var entities = [{%for org in orgs%}{url:"{%url 'rolodex_org' org.slug%}", name:"{{org.orgName}}"},{%endfor%}{%for peep in peeps%}{url:"{%url 'rolodex_person' peep.slug%}",name:"{{peep.lastName}}, {{peep.firstName}}"},{%endfor%}];

    var engine = new Bloodhound({
      identify: function(obj) { return obj.url; },
      datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      // `states` is an array of state names defined in "The Basics"
      local: entities
    });

    $('#bigSearch .typeahead').typeahead({
        hint: true,
        highlight: true,
        minLength: 1,

    },
    {
      name: 'engine',
      source: engine,
      display: 'name',
    }).on('typeahead:selected', function($e, datum){
        window.location.href=datum["url"];
        }
    );
})
</script>



<h2>or</h2>


<div id="selectors">



    <div id="addPerson" class="clickable"><i class="fa fa-plus-square"></i> Add a Person</div>
        <div id="orgDiv2" class="searchbox">
         <div class="instruct">First choose the primary organization the person belongs to.</div>
        <select id="orgSelect2">
             <option value=""></option>
        {%for org in orgs%}
            <option value="{{org.pk}}">{{org.orgName}}</option>
        {%endfor%}
        </select>
        <div class="buttonDiv">
        <a class="goLink" href=""><i class="fa fa-user-plus"></i></a>
        <a class="addLink" href="{%url 'rolodex_new_org'%}">Not listed? Add a new Org</a> <br> <a class="addLink" href="{%url 'rolodex_new_person_no_org'%}">Or add org-less Person</a>
        </div>
        </div>

    <a class="noUnderline"href="{%url 'rolodex_new_org'%}"><div id="addPerson" class="clickable"><i class="fa fa-plus-square"></i> Add an Org</div></a> 

</div>


</div>

<div class="creditText">Rolodex was developed at</div>
<img class="dmnLogo" src="{%static 'rolodex/images/dmnlogo.jpg'%}">

<script>
var NewOrgDict = {};
{%spaceless%}
{%for org in orgs%}NewOrgDict['{{org.pk}}']="{% url 'rolodex_new_person' org.slug%}";{%endfor%}
{%endspaceless%}


var $orgSelect2 = $('#orgSelect2').selectize({
    placeholder: 'Search organizations...',
    maxOptions:10,
    selectOnTab:true,
    onChange: function(value){
        var option =NewOrgDict[$("#orgSelect2").val()]; 
        $("#orgDiv2 .goLink").attr("href",option);
    },
});



var orgSelect2 = $orgSelect2[0].selectize;




$(".searchbox").hide();
$(document).ready(function(){

    $("#addPerson").click(function(){
        $(".searchbox").hide("slow");
        $("#orgDiv2").slideToggle("slow");
    });
    $("#orgSelect2").change(function(){});
});

</script>

<div class="breadcrumb-container">
<ul class="breadcrumb">
	<li><a href="{% url 'rolodex_home' %}">Home</a></li>
</ul>
</div>
{%endblock%}