{%extends "rolodex/base.html" %}
{%load staticfiles%}
{%block head%}


<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" />
<script src="{% static 'rolodex/js/selectize.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'rolodex/css/selectize.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'rolodex/css/entity.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'rolodex/css/entity_map.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'rolodex/css/nodeMap.css'%}">
<script src="{% static 'js/d3.v3.min.js'%}"></script>

{%endblock%}

{%block content%}




<div id="networkCanvas"></div>
<div class="change">
<a href="{%url 'rolodex_org' node.pk%}">Back to Page</a>
</div>






<script>
var replaceP = '{% url "rolodex_person" "foobarbaz" %}',
	replaceO = '{% url "rolodex_org" "foobarbaz" %}',
	nodeID="{{node.orgName}}",
	nodePRIME = "{{node.primary}}"
  graphWidth = $(window).width(),
  graphHeight = $(window).height()-60;
</script>
<script src="{% static 'rolodex/js/nodeNet.js'%}"></script>
<script type="text/javascript">
  $('#networkCanvas').html("<img class='waitingGIF' src=\"{%static 'rolodex/images/waiting.gif'%}\">");
  $.ajax({
    type:"GET",
    dataType:"json",
    url:"{%url 'rolodex_org_network' node.pk %}",
    success: function(d){
      $('#networkCanvas').html("");
      chartNetwork(d);
    }
  });
</script>

<div class="breadcrumb-container">
<ul class="breadcrumb">
	<li><a href="{% url 'rolodex_home' %}">Home</a></li>
	<li><a href="{%url 'rolodex_org' node.pk%}">{{node.orgName}}</a></li>
  <li><a>Graph</a></li>
</ul>
</div>
{%endblock%}